.projectButton{
    border-radius: 7px;
    background-color: rgba(72, 54, 113, 0.7);
    color: white;
    font-size: 2rem;
    text-align: center;
    margin: 1rem;
}

.projectButton:hover{
    cursor: pointer;
    border-radius: 1px;
    background-color: rgba(85, 47, 172, 0.67);
    transition: 1s;
}

.tasksInfo{
    font-size: 1.2rem;
    text-align: start;
    padding: 3% 0 0 10%;
}

.teamInfo{
    font-size: 1.5rem;
    padding-bottom: 3%;

}
